---
import renderGradient from "../gradient";
import suncalc from "suncalc";

const { latitude = "0", longitude = "0" } = Astro.locals.runtime.cf || {};

const now = new Date();
const sunPos = suncalc.getPosition(
  now,
  parseFloat(latitude),
  parseFloat(longitude),
);

const [gradient, topVec, bottomVec] = renderGradient(sunPos.altitude);

const top = `rgb(${topVec[0]}, ${topVec[1]}, ${topVec[2]})`;
const bottom = `rgb(${bottomVec[0]}, ${bottomVec[1]}, ${bottomVec[2]})`;
---

<html lang="en" style={{ height: "100%", background: gradient }}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta http-equiv="Refresh" content="60" />
    <meta name="theme-color" content={top} />
    <meta name="darkreader-lock" />
    <meta
      name="description"
      content={`The current sky at your approximate location, rendered as a CSS gradient. Refreshes every minute using the \`meta http-equiv="Refresh"\` tag. Created for HTML Day 2025.`}
    />
    <title>Horizon at {`${latitude}, ${longitude}`}</title>
  </head>
  <body style={{ backgroundColor: bottom }}> </body>
</html>
